.search {
  position: fixed;
  top: 0;
  left: 90px;
  height: 100vh;
  font-size: 12px;
  background-color: rgb(7, 7, 7);
  padding: 10px 30px;
  width: 400px;
  z-index: 999;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgb(80, 78, 78);
  animation: spin 500ms ease-in-out;
}

@keyframes spin {
  from {
    transform: translateX(-100px);
  }
}

.inputField {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
  border: 1px solid rgb(80, 78, 78);
  margin-top: 40px;
}

.inputField > input {
  border: none;
  outline: none;
  background-color: inherit;
  width: 300px;
  color: white;
}

.icon {
  color: rgb(94, 94, 94) !important;
}

.header {
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(94, 94, 94);
  margin-bottom: 20px;
}

.recent {
  margin-top: 30px !important;
  font-size: 16px;
  font-weight: 600;
}

.searches {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 14px;
  color: gray;
  font-weight: 500;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.cancel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel__x {
  font-size: 20px;
  font-weight: 700px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@media (max-width: 1150px) {
  .search {
    left: 70px;
  }
}
